@use '../../styles/mixins/neumorphic' as *;

.component {  
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  white-space: nowrap;
  background: var(--background-out);
  color: var(--text-primary);

  &.glow{
    @include text-glow;
  }
  
  .prefix {
    margin: 0 var(--spacing-small) 0 0;
  }

  .suffix {
    margin: 0 0 0 var(--spacing-small);
  }

  &:hover {
    cursor: pointer;
    transition: opacity .5s;
    opacity: .8;
  }

  &.disabled {
    opacity: .6;
    cursor: auto;
    pointer-events: none;
  }

  // SIZES
  &.sm {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    padding: calc(var(--spacing-sm) / 2) var(--spacing-sm);
    border-radius: var(--border-radius-sm);
  }

  &.md {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius-md);
  }

  &.lg {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
    padding: var(--spacing-md) var(--spacing-lg);
    border-radius: var(--border-radius-lg);
  }
}

:global(.neumorphic-light),
:global(.neumorphic-dark) {
  .component{
    @include neumorphic-out;
    
    &.active {
      @include neumorphic-in;
    }
  }
}