@use '../../styles/mixins/neumorphic' as *;

.component {  
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  white-space: nowrap;
  background: var(--background);
  color: var(--text-primary);

  &.active {
    color: var(--text-secondary);
  }
  
  .prefix {
    margin: 0 var(--spacing-small) 0 0;
  }

  .suffix {
    margin: 0 0 0 var(--spacing-small);
  }

  &:hover {
    cursor: pointer;
    transition: opacity .5s;
    opacity: .8;
  }

  &.disabled {
    opacity: .6;
    cursor: auto;
    pointer-events: none;
  }

  &.sm {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    padding: calc(var(--spacing-sm) / 2) var(--spacing-sm);
    border-radius: var(--border-radius-sm);
  }

  &.md {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius-md);
  }

  &.lg {
    font-size: var(--font-size-md);
    line-height: var(--line-height-lg);
    padding: var(--spacing-md) var(--spacing-lg);
    border-radius: var(--border-radius-lg);
  }
}

:global(.nmc-ui) {
  &:not(:global(.flat-light)):not(:global(.flat-dark)) {
    .component {
      @include neumorphic-out;

      &:hover {
        opacity: 1;
      }

      &.active {
        @include neumorphic-in;
        @include text-glow(false);
      }
    }
  }
}
