node_modules
.git
.github
.next
dist
*.log
.env
.env.local
.env.production.local
.env.development.local
README.md
.gitignore
coverage
.nyc_output
.cache
.turbo
packages/nmc-storybook.v1/storybook-static
