@use '../tools/toRem.scss' as *;
@use '../animations' as *;

@mixin neumorphic-flat {
  background: var(--background);
  box-shadow: var(--shadow);
  border: 1px solid var(--border-color);
}

@mixin neumorphic-in-out {
  background: var(--background-in);
  box-shadow: var(--shadow);
  border: 1px solid var(--border-color);
}

@mixin neumorphic-out {
  background: var(--background-out);
  box-shadow: var(--shadow);
  border: 1px solid var(--border-color);
}

@mixin neumorphic-in {
  background: var(--background);
  box-shadow: var(--shadow-in);
  border: 1px solid var(--border-color);
}

@mixin setup-glow-variables {
  --animation-glow-base: var(--text-glow);
  --animation-glow-mid: var(--text-glow-bright);
  --animation-glow-bright: var(--text-glow-brightest);
}

@mixin text-glow($animate: true) {
  text-shadow: var(--shadow-glow);
  color: var(--text-glow);
  
  @if $animate {
    @include setup-glow-variables;
    @include glow-text();
  }
}

@mixin element-glow($animate: true, $intensity: 3px) {
  filter: drop-shadow(toRem(0) toRem(0) toRem($intensity) var(--text-glow));
  
  @if $animate {
    @include setup-glow-variables;
    @include glow-element();
  }
}