// blackmirror-light.scss

@use "../../nmc-ui.v1/src/styles/index" as ui with (
  $useRem: false,
  $baseFontSize: 16px,
  $breakpoint-mobile: 640px,
  $breakpoint-tablet: 1024px,
  $breakpoint-desktop: 1600px
);

$custom-colors: (
  background: #f5f5f5,
  border-color: #d8d8d8,
  text-primary: #1a1a1a,
  text-secondary: #555555,
  shadow-glow: "0px 0px #{ui.toUnit(3px)} #cccccc, 0px 0px #{ui.toUnit(8px)} #aaaaaa",
  text-glow: #cccccc,
  text-glow-bright: #eeeeee,
  text-glow-brightest: #ffffff,
  background-in:  "linear-gradient(145deg, #f5f5f5, #ececec)",
  background-out: "linear-gradient(145deg, #ececec, #f5f5f5)",
  shadow: "#{ui.toUnit(4px)} #{ui.toUnit(4px)} #{ui.toUnit(10px)} #e0e0e0, #{ui.toUnit(-4px)} #{ui.toUnit(-4px)} #{ui.toUnit(10px)} #ffffff",
  shadow-in: "inset #{ui.toUnit(4px)} #{ui.toUnit(4px)} #{ui.toUnit(10px)} #e0e0e0, inset #{ui.toUnit(-4px)} #{ui.toUnit(-4px)} #{ui.toUnit(10px)} #ffffff"
);

@include ui.apply-theme-vars($custom-colors, ".my-app.nmc-ui");
