@use './tools/toUnit' as *;
@use "sass:math";

@keyframes rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes breatheAnimation {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.5); }
}

@keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes text-glow-animation {
  0%, 100% {
    text-shadow:
      toUnit(-2px) toUnit(-2px) toUnit(5px) var(--animation-glow-base),
      toUnit(3px) toUnit(3px) toUnit(15px) var(--animation-glow-base);
    opacity: 1;
  }
  20% {
    text-shadow:
      toUnit(-1px) toUnit(-1px) toUnit(7px) var(--animation-glow-mid),
      toUnit(2px) toUnit(2px)  toUnit(18px) var(--animation-glow-mid);
    opacity: 0.95;
  }
  40% {
    text-shadow:
      toUnit(-3px) toUnit(-3px) toUnit(6px) var(--animation-glow-base),
      toUnit(4px) toUnit(4px) toUnit(20px) var(--animation-glow-base);
    opacity: 0.9;
  }
  60% {
    text-shadow:
      0px 0px toUnit(8px) var(--animation-glow-bright),
      0px 0px toUnit(22px) var(--animation-glow-bright);
    opacity: 0.93;
  }
  80% {
    text-shadow:
      toUnit(1px) toUnit(1px) toUnit(10px) var(--animation-glow-mid),
      toUnit(1px) toUnit(1px) toUnit(30px) var(--animation-glow-mid);
    opacity: 0.97;
  }
}

@keyframes element-glow-animation {
  0%, 100% {
    filter: drop-shadow(0px 0px #{toUnit(5px)} var(--animation-glow-base));
  }
  10% { filter: drop-shadow(#{toUnit(-2px)} #{toUnit(-2px)} #{toUnit(8px)} var(--animation-glow-mid)); }
  30% { filter: drop-shadow(#{toUnit(2px)} #{toUnit(2px)} #{toUnit(6px)} var(--animation-glow-mid)); }
  50% { filter: drop-shadow(0px 0px #{toUnit(10px)} var(--animation-glow-bright)); }
  70% { filter: drop-shadow(#{toUnit(1px)} #{toUnit(1px)} #{toUnit(7px)} var(--animation-glow-base)); }
  90% { filter: drop-shadow(#{toUnit(-1px)} #{toUnit(1px)} #{toUnit(9px)} var(--animation-glow-mid)); }
}

@mixin rotate($duration: 1s, $timing-function: linear) {
  animation: rotation $duration $timing-function infinite;
}

@mixin breathe($duration: 3s, $timing-function: ease-in-out) {
  animation: breatheAnimation $duration $timing-function infinite;
}

@mixin blink($duration: 1s) {
  animation: blink $duration infinite;
}

@mixin glow-text($duration: 5s, $timing-function: cubic-bezier(0.65, 0.05, 0.36, 1)) {
  $delay: math.random(500) * 1ms;
  animation: text-glow-animation $duration $timing-function infinite both;
  animation-delay: $delay;
}


@mixin glow-element($duration: 3s, $timing-function: ease-in-out) {
  animation: element-glow-animation $duration $timing-function infinite;
}