@use './tools/toRem' as *;

@keyframes rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes breatheAnimation {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.5); }
}

@keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes text-glow-animation {
  0%, 100% {
    text-shadow: 
      #{toRem(0px)} #{toRem(0px)} #{toRem(5px)} var(--animation-glow-base),
      #{toRem(0px)} #{toRem(0px)} #{toRem(15px)} var(--animation-glow-base);
  }
  
  25%, 75% {
    text-shadow: 
      #{toRem(0px)} #{toRem(0px)} #{toRem(8px)} var(--animation-glow-mid),
      #{toRem(0px)} #{toRem(0px)} #{toRem(25px)} var(--animation-glow-mid);
  }
  
  50% {
    text-shadow: 
      #{toRem(0px)} #{toRem(0px)} #{toRem(10px)} var(--animation-glow-bright),
      #{toRem(0px)} #{toRem(0px)} #{toRem(30px)} var(--animation-glow-bright);
  }
}

@keyframes element-glow-animation {
  0%, 100% {
    filter: drop-shadow(#{toRem(0px)} #{toRem(0px)} #{toRem(5px)} var(--animation-glow-base));
  }
  
  25%, 75% {
    filter: drop-shadow(#{toRem(0px)} #{toRem(0px)} #{toRem(8px)} var(--animation-glow-mid));
  }
  
  50% {
    filter: drop-shadow(#{toRem(0px)} #{toRem(0px)} #{toRem(10px)} var(--animation-glow-bright));
  }
}

.nmc-ui {
  --animation-glow-base: var(--text-glow, transparent);
  --animation-glow-mid: var(--text-glow-bright, transparent);
  --animation-glow-bright: var(--text-glow-brightest, transparent);
}


@mixin rotate($duration: 1s, $timing-function: linear) {
  animation: rotation $duration $timing-function infinite;
}

@mixin breathe($duration: 3s, $timing-function: ease-in-out) {
  animation: breatheAnimation $duration $timing-function infinite;
}

@mixin blink($duration: 1s) {
  animation: blink $duration infinite;
}

@mixin glow-text($duration: 3s, $timing-function: ease-in-out) {
  animation: text-glow-animation $duration $timing-function infinite;
}

@mixin glow-element($duration: 3s, $timing-function: ease-in-out) {
  animation: element-glow-animation $duration $timing-function infinite;
}