@use './variables' as *;
@use './tools/toRem' as *;
@use 'sass:math';

.nmc-ui {
  * {
    box-sizing: border-box;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    font-size: if($useRem, 1vw, 16px);
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    font-optical-sizing: auto;
    color: var(--text-primary);
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    li {
      list-style: none;
      display: flex;
      
      &::before {
        content: '';
        display: inline-block;
        margin: 10px 5px 0 0;
        width: 5px;
        height: 5px;
        min-width: 5px;
        min-height: 5px;
        background-color: var(--text-primary);
        border-radius: var(--border-radius-full);
      }
    }
  }

  ol {
    counter-reset: nmc-counter;

    li {
      list-style: none;
      display: flex;
      counter-increment: nmc-counter;
      
      &::before {
        content: counter(nmc-counter) '. ';
      }
    }
  }
  
  @media screen and (min-width: $breakpoint-desktop) {
    * {
      font-size: if($useRem, $baseFontSize, 16px);
    }
  }
  
  @media screen and (max-width: $breakpoint-mobile) {
    * {
      font-size: if($useRem, #{math.div($baseFontSize * 100, 375)}vw, 16px);
    }
  }
}
