@use './tools/toUnit' as *;
@use './variables.scss' as vars;

$theme-neumorphic-dark: (
  background: #33333d,
  border-color: #2a2a2a,
  text-primary: #a6a6a6,
  text-secondary: #808080,
  shadow-glow: "0px 0px #{toUnit(3px)} #00FF00, 0px 0px #{toUnit(10px)} #00FF00",
  text-glow: #00FF00,
  text-glow-bright: #33FF33,
  text-glow-brightest: #66FF66,
  background-in: "linear-gradient(145deg, #2b2b35, #3a3a45)",
  background-out: "linear-gradient(145deg, #414151, #252534)",
  shadow: "#{toUnit(6px)} #{toUnit(6px)} #{toUnit(12px)} #1e1e28, #{toUnit(-6px)} #{toUnit(-6px)} #{toUnit(12px)} #484858",
  shadow-in: "inset #{toUnit(6px)} #{toUnit(6px)} #{toUnit(12px)} #1e1e28, inset #{toUnit(-6px)} #{toUnit(-6px)} #{toUnit(12px)} #484858"
);

$theme-neumorphic-light: (
  background: #e0e0e0,
  border-color: #d1d1d6,
  text-primary: rgb(30, 30, 31),
  text-secondary: #696969,  
  shadow-glow: "0px 0px #{toUnit(3px)} #FF5000, 0px 0px #{toUnit(10px)} #FF5000",
  text-glow: #FF5000,
  text-glow-bright:#FF7A00,
  text-glow-brightest:#FFA500,
  background-in: "linear-gradient(145deg, #cacaca, #f0f0f0)",
  background-out: "linear-gradient(145deg, #f0f0f0, #cacaca)",  
  shadow: "#{toUnit(6px)} #{toUnit(6px)} #{toUnit(12px)} #bebebe, #{toUnit(-6px)} #{toUnit(-6px)} #{toUnit(12px)} #ffffff",
  shadow-in: "inset #{toUnit(6px)} #{toUnit(6px)} #{toUnit(12px)} #bebebe, inset #{toUnit(-6px)} #{toUnit(-6px)} #{toUnit(12px)} #ffffff"
);

$theme-flat-dark: (
  background: #101010,
  border-color: #2a2a2a,
  text-primary: #ffffff,
  text-secondary: #9e9e9e
);

$theme-flat-light: (
  background: #ffffff,
  border-color: #cccccc,
  text-primary: #000000,
  text-secondary: #666666
);


$theme-root: (
  spacing-xs: #{toUnit(4px)},
  spacing-sm: #{toUnit(8px)},
  spacing-md: #{toUnit(16px)},
  spacing-lg: #{toUnit(24px)},
  spacing-xl: #{toUnit(32px)},
  border-radius-sm: #{toUnit(4px)},
  border-radius-md: #{toUnit(8px)},
  border-radius-lg: #{toUnit(16px)},
  border-radius-xl: #{toUnit(32px)},
  font-size-xs: #{toUnit(12px)},
  font-size-sm: #{toUnit(14px)},
  font-size-md: #{toUnit(16px)},
  font-size-lg: #{toUnit(18px)},
  heading-sm: #{toUnit(20px)},
  heading-md: #{toUnit(24px)},
  heading-lg: #{toUnit(32px)},
  line-height-sm: #{toUnit(20px)},
  line-height-md: #{toUnit(24px)},
  line-height-lg: #{toUnit(32px)},
  line-height-xl: #{toUnit(34px)},
  backdrop-blur: #{toUnit(12px)}
);


@mixin apply-theme-vars($map, $selector) {
  #{$selector} {
    @each $key, $val in $map {
      --#{$key}: #{$val};
    }
  }
}

@include apply-theme-vars($theme-neumorphic-dark, '.neumorphic-dark.nmc-ui');
@include apply-theme-vars($theme-neumorphic-light, '.neumorphic-light.nmc-ui');
@include apply-theme-vars($theme-flat-dark, '.flat-dark.nmc-ui');
@include apply-theme-vars($theme-flat-light, '.flat-light.nmc-ui');
@include apply-theme-vars($theme-root, '.nmc-ui');