@use './tools/toRem' as *;
@use './variables' as vars;

$theme-neumorphic-dark: (
  background: #33333d,
  border-color: #2a2a2a,
  text-primary: #a6a6a6,
  text-secondary: #808080,
  shadow-glow: "#{toRem(0px)} #{toRem(0px)} #{toRem(3px)} #00FF00, #{toRem(0px)} #{toRem(0px)} #{toRem(10px)} #00FF00",
  text-glow: #00FF00,
  text-glow-bright: #33FF33,
  background-in: "linear-gradient(145deg, #2b2b35, #3a3a45)",
  text-glow-brightest: #66FF66,
  background-out: "linear-gradient(145deg, #414151, #252534)",
  shadow: "#{toRem(6px)} #{toRem(6px)} #{toRem(12px)} #1e1e28, #{toRem(-6px)} #{toRem(-6px)} #{toRem(12px)} #484858",
  shadow-in: "inset #{toRem(6px)} #{toRem(6px)} #{toRem(12px)} #1e1e28, inset #{toRem(-6px)} #{toRem(-6px)} #{toRem(12px)} #484858"
);

$theme-neumorphic-light: (
  background: #e0e0e0,
  border-color: #d1d1d6,
  text-primary: rgb(30, 30, 31),
  text-secondary: #696969,  
  shadow-glow: "#{toRem(0px)} #{toRem(0px)} #{toRem(3px)} #FF4500, #{toRem(0px)} #{toRem(0px)} #{toRem(10px)} #FF4500",
  text-glow: #FF4500,
  text-glow-bright: #FF6A00,
  text-glow-brightest: #FF8800,
  background-in: "linear-gradient(145deg, #cacaca, #f0f0f0)",
  background-out: "linear-gradient(145deg, #f0f0f0, #cacaca)",  
  shadow: "#{toRem(5px)} #{toRem(5px)} #{toRem(10px)} #bebebe, #{toRem(-5px)} #{toRem(-5px)} #{toRem(10px)} #ffffff",
  shadow-in: "inset #{toRem(5px)} #{toRem(5px)} #{toRem(10px)} #bebebe, inset #{toRem(-5px)} #{toRem(-5px)} #{toRem(10px)} #ffffff"
);

$theme-flat-dark: (
  background: #101010,
  border-color: #2a2a2a,
  text-primary: #ffffff,
  text-secondary: #9e9e9e
);

$theme-flat-light: (
  background: #ffffff,
  border-color: #cccccc,
  text-primary: #000000,
  text-secondary: #666666
);


$theme-root: (
  spacing-xs: #{toRem(4px)},
  spacing-sm: #{toRem(8px)},
  spacing-md: #{toRem(16px)},
  spacing-lg: #{toRem(24px)},
  spacing-xl: #{toRem(32px)},
  border-radius-sm: #{toRem(4px)},
  border-radius-md: #{toRem(8px)},
  border-radius-lg: #{toRem(16px)},
  border-radius-xl: #{toRem(32px)},
  font-size-xs: #{toRem(12px)},
  font-size-sm: #{toRem(14px)},
  font-size-md: #{toRem(16px)},
  font-size-lg: #{toRem(18px)},
  heading-sm: #{toRem(20px)},
  heading-md: #{toRem(24px)},
  heading-lg: #{toRem(32px)},
  line-height-sm: #{toRem(20px)},
  line-height-md: #{toRem(24px)},
  line-height-lg: #{toRem(32px)},
  line-height-xl: #{toRem(34px)},
  backdrop-blur: #{toRem(12px)}
);


@mixin apply-theme-vars($map, $selector) {
  #{$selector} {
    @each $key, $val in $map {
      --#{$key}: #{$val};
    }
  }
}

@include apply-theme-vars($theme-neumorphic-dark, '.neumorphic-dark.nmc-ui');
@include apply-theme-vars($theme-neumorphic-light, '.neumorphic-light.nmc-ui');
@include apply-theme-vars($theme-flat-dark, '.flat-dark.nmc-ui');
@include apply-theme-vars($theme-flat-light, '.flat-light.nmc-ui');
@include apply-theme-vars($theme-root, '.nmc-ui');